@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/rm380-10.jpg);
    background-size: cover;
    background-repeat:  no-repeat;
}
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 150px;
    height: 200px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg)
    }
}
.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotatey(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(500px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-family: 'ICA Rubrik';
    font-size: 14em;
    line-height: 1em;
    color: #3B6D8C;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #F2F0E4;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 1.5em;
    color: #0d0d0d;
}
.banner .content .model{
    background-image: url(../images/background.png);
    width: 100%;
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}